$black-color: #000;
$title-color: #000;
$text-color: #000;
$primary-color: #1F4D43;
$secondary-color: #000;
$breadcrum-background :#1F4D43;
$header-bg-color : #000;
$white-color:#fff;
$border-color: #f1f1f1;
$red-color: #ff0000;
$border-new-color: #E8EAED;